body{background-color: pink;border: 10px 10px;}
section{border: 10px 10px; border-color: purple;}
footer{background-color: black;color: whitesmoke; border: solid 40px; border-color: black; text-align: center}
html{border: solid 20px;border-color: red;}
